<a href="https://colab.research.google.com/github/noor848/python_ShAI/blob/main/pandas_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [ ]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
data1=pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [ ]:
data1.head()


**What is the average BasePay ?**

In [ ]:
data1['BasePay'].mean()

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
data1['OvertimePay'].max()

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
job=data1[data1['EmployeeName']=='JOSEPH DRISCOLL']
job['JobTitle']

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
job['TotalPayBenefits']

** What is the name of highest paid person (including benefits)?**

In [ ]:
salary=data1[data1['TotalPayBenefits']==data1['TotalPayBenefits'].max()]
salary

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
low_salary=data1[data1['TotalPayBenefits']==data1['TotalPayBenefits'].min()]
low_salary

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
year=data1[data1['Year'].between(2011.0,2014.0) ]
avg=year['BasePay'].mean()
avg

** How many unique job titles are there? **

Read about the "nunique" function

In [ ]:
x=year['JobTitle'].nunique()
x

** What are the top 5 most common jobs? **

In [ ]:
year['JobTitle'].value_counts().head(5)

[link text](https://)** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
(data1[data1['Year']==2013]['JobTitle'].value_counts()==1).sum()

** How many people have the word Chief 

---

in their job title? (This is pretty tricky) **

In [ ]:
# ans is 627

data1['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
data1['lenght'] = data1['JobTitle'].apply(len)


data1[['lenght', 'TotalPayBenefits']].corr()

# Great Job!